<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baichang.android.kotlin.kit">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <application
      android:allowBackup="true"
      android:supportsRtl="true">
    <!-- 适配18:9 -->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.1"/>

    <activity
        android:name=".widget.photoGallery.PhotoGalleryActivity"
        android:screenOrientation="portrait"/>
  </application>

</manifest>

